<div class="nav">
    {{#link-to 'adddata' tagName='a' class="nav-element1" }}Add Data{{/link-to}}
    {{#link-to 'viewdata' tagName='a' class="nav-element2"}}View Data{{/link-to}}
    {{#link-to 'editdata' tagName='a' class="nav-element3"}}Edit Data{{/link-to}}

</div>